.VerticalMenu {
    position: absolute;
    height: 100%;
    width: 280px;
    right: -350px;
    top: 0;
    padding: 10px;
    background-color: #111;
    border-left: 2px solid crimson;
    z-index: 10;
    transition: right ease-in 0.2s;
}

.VerticalMenu .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
    font-size: 18px;
    color: #ddd;
    cursor: pointer;
    text-decoration: none;
    transition: border-bottom 0.2s;
}

.VerticalMenu .menu-item:hover {
    border-bottom: 1px solid crimson;
}

.VerticalMenu .close {
    margin-top: 10px;
    font-size: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ddd;
}

.VerticalMenu.active {
    right: 0;
}

.VerticalMenu .icon {
    font-size: 34px;
    margin-right: 10px;
}