.Movie{
  position: relative;
  overflow: hidden;
}

.Movie img{
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
}

.Movie img:hover{
  transform: scale(1);

}

.Movie .title {
  position: absolute;
  width: 100%;
  background-color: crimson;
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 20px 0;
  bottom: -100px;
  opacity: 0.8;
  transition: bottom 0.5s;
}

.Movie:hover .title {
  bottom: 0;
  cursor: pointer;
}

