.AddMovie {
    display: grid;
    grid-template-columns: auto 2fr;
    color: #dddddd;
    width: 700px;
    margin: 30px;
    text-align: left;
    gap: 10px
}

.AddMovie input,
.AddMovie textarea {
    padding: 5px;
    background-color: transparent;
    color: #ddd;
}

.AddMovie input[type="text"],
.AddMovie textarea {
    border: none;
    border-bottom: 2px solid crimson;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}