.MovieDetails {
  position: relative;
  background-size: 100% 100%;
  min-height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MovieDetails .container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
  width: 90%;
  z-index: 1;
}

.MovieDetails .container h1 {
  margin: 40px 0;
  font-size: 2.4em;
  z-index: 1;
}

.MovieDetails .container p {
  margin: 20px 0;
  z-index: 1;
  line-height: 30px;
}

.MovieDetails .desc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
  align-items: center;
}

.MovieDetails .overlay {
  position: absolute;
  width: 100%;
  height: calc(100vh - 77px);
  top: 0;
  background-image: linear-gradient(#111, transparent);
}

@media only screen and (max-width: 768px) {
  .MovieDetails .row{
    display: block;
    padding: 30px;
  }

  .MovieDetails .row p {
    font-size: 0.8em;
    padding: 10px;
    width: 100%;
  }

  .MovieDetails .row img {
    width: 70%;
  }
}
