.Gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .Gallery .container{
    grid-template-columns: 1fr;
  }
}